
  <nav>
    <a href="firstLogin.html" class="nav-item active">
      <span>🏠</span>
      <span>Home</span>
    </a>

    <a href="learnSkills.html" class="nav-item">
      <span>📚</span>
      <span>Learn Skills</span>
    </a>

    <a href="teachSkills.html" class="nav-item">
      <span>🎓</span>
      <span>Teach Skills</span>
    </a>

    <a href="findTeam.html" class="nav-item">
      <span>👥</span>
      <span>Find Teammates</span>
    </a>

    <a href="profile.html" class="nav-item">
      <span>👤</span>
      <span>My Profile</span>
    </a>

    <div class="nav-submenu">
      <a href="achievements.html"> 🏆 Achievements </a>

      <a href="wallet.html"> 🪙 Skill Wallet </a>

      <a href="projects.html"> 📂 My Projects </a>

      <a href="buildResume.html"> 📄 Build Resume </a>
    </div>

    <a href="settings.html" class="nav-item">
      <span>⚙</span>
      <span>Settings</span>
    </a>
  </nav>

